* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 32rem;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}

.Cabecera {
    width: 76.8rem;
    height: 42.1rem ;
    padding: 0;
    background:url(https://www.vanguardia.com/binrepository/716x477/0c0/0d0/none/12204/KNHF/web_how-to-build-_big_tp_VL422330_MG19942968.jpg) left top no-repeat;
}
.top {
    position: sticky;
    width: 76.8rem;
    height: 6rem;
    opacity: 0.95;
    background-color: #099d8d;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.header__base {
   
   
   /* box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center; */
}

.Nombre-del-grupo {
    width: 16rem;
    height: 3rem;
    display: flex;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    align-items: right;
    text-align: center;
    justify-content: right;
}


.Equipo, .Quienes-somos, .Contacto {
    margin-inline: auto;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: white;
}