
.container_footer{
  display: grid;

}
.container_footer_name{
  font-size: 0.875 em;
  color: 
  #b8b8b9;
}
.container_footer_nav{
  font-size: 0.875 em;
  line-height: 20px;
  align-items: center;
  color: #54585a;
}
.container_footer_logo{
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
}