* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
.container{

&__df {
  width: 320px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

&__df__white {
  width: 2rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  transform: translate(0px, -1rem) rotate(45deg);
}

&__df__bg {
  background-color: #b8b8b9;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.df__text {
  display: block;
  padding-top: 2.5rem;
  padding-bottom: 0.938rem;
  font-size: 16px;
  line-height: 24px;
}
}

.df{

&__block {
  display: block;
  margin: 0 0.938rem;
}

&__header {
  color: #099d8d;
  width: 100%;
  height: 2.813rem;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  position: relative;
}

&__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1.563rem;
  color: black;
}
}
@media screen and (min-width: 320px) {
  .container-df {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container-df {
    width: 768px;
  }
  .container__df__text {
    display: flex;
    flex-direction: row;
    margin: 0 1.875rem;
  }
  .df__block {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .container__df {
    width: 1200px;
  }
  .container__df__text {
    display: flex;
    flex-direction: row;
    margin: 0 3.125rem;
  }
  .df__block {
    display: block;
    margin: 0 1.875rem;
  }
}
