<div class="rectangle1">
    <span class="rectangle1__lema">Erase una vez un nuevo comienzo...</span>
</div>
<div class="rectangle2">
    <h1 class="rectangle2__title" id="_equipo">EQUIPO</h1>
    <div class="rectangle2__section">
        <p class="rectangle2__section__text">Erase una vez cinco intrepidas chicas que decidieron cambiar sus vidas
            para siempre.</p>
        <p class="rectangle2__section__text">¿Y como lo hicieron os preguntareis?</p>
        <p class="rectangle2__section__text">Pues bien, una calurosa tarde de verano, decidieron apoderarse de su
            destino, e inscribirse en el Bootcamp de Programación Web de Adalab para señoritas.</p>
        <p class="rectangle2__section__text">Y tras unos intensos meses de mucho trabajo y esfuerzo, lograron su
            objetivo, y se convirtieron en las "magas del código" que el Reino tanto ansiaba.</p>
    </div>
</div>