<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parte Marta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../scss/layout/_equipo.scss">
</head>
<body>
    <div class="rectangle1">
        <span class="rectangle1__lema">Erase una vez un nuevo comienzo...</span>
    </div>
    <div class="rectangle2">
         <h1 class="rectangle2__title" id="_equipo">EQUIPO</h1>
         <div class="rectangle2__section">
            <p class="rectangle2__section__text">Erase una vez cinco intrepidas chicas que decidieron cambiar sus vidas para siempre.</p>
            <p class="rectangle2__section__text">¿Y como lo hicieron os preguntareis?</p>
            <p class="rectangle2__section__text">Pues bien, una calurosa tarde de verano, decidieron apoderarse de su destino, e inscribirse en el Bootcamp de Programación Web de Adalab para señoritas.</p>
            <p class="rectangle2__section__text">Y tras unos intensos meses de mucho trabajo y esfuerzo, lograron su objetivo, y se convirtieron en las "magas del código" que el Reino tanto ansiaba.</p>
         </div>
    </div>
</body>
</html>