<footer>
  <div class="container_footer">
    <div class="container_footer_name"> SheCode/> &copy; 2023</div>
    <nav class="container_footer_nav">
      <ul>
        <li><a class="footer_link" href="#_equipo">Equipo</a></li>
        <li><a class="footer_link" href="#_about-us">Quiénes Somos</a></li>
        <li><a class="footer_link" href="../contact.html">Contacto</a></li>
      </ul>
    </nav>

    <div class="container_footer_logo"> <img src="../images/logo-adalab.png" alt="Logo Adalab"></div>
  </div>
</footer>