<div class="container__df">
    <div class="container__df__bg"></div>
    <div class="container__df__white"></div>
    <div class="container__df__text">
        <div class="df__block">
            <div class="df__header">Fortalezas</div>
            <p class="df__text"> En su viaje, descubrieron que la diversidad de perspectivas, la colaboración efectiva,
                la creatividad, la empatía y la resolución de problemas eran las herramientas mágicas que podían aportar
                a la industria tecnológica del Reino.
            </p>
        </div>
        <div class="df__block">
            <div class="df__header">Debilidades</div>
            <p class="df__text"> Pero durante el camino también enfrentaron desafíos como la desigualdad de género, la
                brecha de oportunidades, los estereotipos arraigados y el constante malabarismo del equilibrio entre el
                trabajo y la vida. En una industria que aún batalla con la igualdad de género y la inclusión, estas
                audaces programadoras tejieron una red de apoyo que las sostuvo en los momentos difíciles.
            </p>
        </div>
    </div>
</div>